@import "../base.scss";

.intro {
  padding-top: 10vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dog {
  width: 20vh;
  height: 20vh;
  margin-bottom: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-size: contain;
  background-image: url("../../public/images/dog.jpg");
}

.logo {
  width: 12rem;
}

.form {
  text-align: center;

  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  input {
    @extend %round-input;
    height: 2.5rem;
    width: 70vw;
    max-width: 20rem;
    padding-left: 2.5rem;
  }
}
