@import "../base.scss";

.intro {
  padding: 10vh 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 12rem;
}

.form {
  text-align: center;

  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  input {
    border-radius: 5px;
    height: 2.5rem;
    width: 18rem;
    padding-left: 2.5rem;
  }
}

@media (min-width: 1680px) {
  .intro {
    padding: 20vh 0;
  }
}
