@import "../base.scss";

.icons {
  display: flex;
  gap: 5vw;
  justify-content: center;
  margin: 3vh 1rem;

  svg {
    width: 3rem;
    height: auto;
  }
}

.petLabel {
  @include box-shadow;
  height: auto;
  display: flex;
  border-radius: 1rem;
  background-color: $header-background-color;
  position: fixed;
  bottom: -2.5rem;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;

  .text {
    margin: auto auto auto 0;
    p {
      margin: 0;
      font-size: 0.85rem;
    }
    h3 {
      margin: 0 0 0.3rem 0;
      color: $logo-color;
    }
  }
  svg {
    width: 4rem;
    height: auto;
    align-self: center;
    margin-left: auto;
  }
}

.heartButton {
  width: 4rem;
  height: auto;
  font-size: 3rem;
  text-align: center;
  color: #aab8c2;
}

.isActive {
  color: #e2264d;
  transform: scale(1);
  animation: pulse 0.5s ease-out;
}

@keyframes pulse {
  0% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: $small-breakpoint) and (orientation: landscape) {
  .icons {
    display: none;
  }
  .petLabel {
    width: 40vw;
    margin: 0 15vw;
  }
}

@media (max-width: $small-breakpoint) and (orientation: portrait) {
  .petLabel {
    width: 60vw;
    margin: 0 20vw;
  }
}

@media (min-width: $small-breakpoint) and (orientation: portrait) {
  .petLabel {
    width: 40vw;
    margin: 0 30vw;
  }
}
