@import "../base.scss";

.icons {
  display: flex;
  gap: 5vw;
  justify-content: center;
  margin: 3vh 1rem;

  svg {
    width: 3rem;
    height: auto;
  }
}

.slide {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.petLabel {
  @include box-shadow;
  width: 65vw;
  max-width: 18rem;
  height: auto;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  background-color: $header-background-color;
  position: fixed;
  bottom: -2.5rem;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}

.petLabelText {
  margin: auto auto auto 0;
  p {
    margin: 0;
    font-size: 0.85rem;
  }
  h3 {
    margin: 0 0 0.3rem 0;
    color: $logo-color;
  }
}

.heartButton {
  width: 4rem;
  height: auto;
  font-size: 3rem;
  text-align: center;
  color: #aab8c2;
}

.isActive {
  color: #e2264d;
  animation: pulse 0.5s;
}

@keyframes pulse {
  0% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: $small-breakpoint) and (orientation: landscape) {
  .icons {
    display: none;
  }
}
