@import "../base.scss";

.providers {
  width: 20rem;
  height: auto;
  margin: 2rem auto;
  background-color: $header-background-color;
  padding: 2rem;
  border-radius: 10px;
  @include box-shadow;
  text-align: center;
}

.provider {
  background-color: $header-background-color;
  border: 1px solid $logo-color;
  border-radius: 5px;
  width: 15rem;
  padding: 1rem;
  font-size: 1rem;
  color: $default-font-color;
  margin-top: 1rem;
}
