@import "../base.scss";

.input {
  background-size: 1.5rem;
  background-image: url("../../public/images/icons/place.svg");
  background-position: 3% center;
  background-repeat: no-repeat;
}

.suggestionsContainer {
  @extend %round-input;
}

.suggestionsList {
  list-style: none;
  padding: 0.5rem 0;
  cursor: pointer;
}
