@import "../base.scss";

.header {
  width: 100%;
  height: 4rem;
  background-color: $header-background-color;
  position: absolute;
  display: grid;
  grid-template-columns: 0.95fr auto;
  gap: 2.5rem;
  padding: 0 2rem;
  align-items: center;
  @include box-shadow;
}

.logo {
  font-family: Ink Free;
  font-size: 1.4rem;
  font-weight: bold;
  color: $logo-color;
  width: 100%;
}

.assets {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto auto;
  gap: 1.5rem;
  width: 100%;
  align-items: center;
}

.search {
  border-radius: 1rem;
  height: 2.1rem;
  background-image: url("../../public/images/icons/magnifier.svg");
  background-size: 1.2rem;
  background-repeat: no-repeat;
  background-position: center left 0.6rem;
  padding-left: 2.4rem;
  z-index: 1000;
}

.filter {
  background-image: url("../../public/images/icons/filter.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.8rem;
  width: 1.8rem;
  cursor: pointer;
  opacity: 0.7;
}

.avatar {
  background-image: url("../../public/images/avatar.svg");
  background-repeat: no-repeat;
  background-size: contain;
  justify-self: center;
  height: 2.3rem;
  width: 2.3rem;
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: $small-breakpoint) {
  .header {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
  }

  .logo {
    display: none;
  }
}

@media (min-width: $small-breakpoint) {
  .search {
    justify-self: right;
    width: 100%;
  }
}
