@import "../base.scss";

.header {
  width: 100%;
  height: 3.5rem;
  background-color: $header-background-color;
  display: grid;
  grid-template-columns: 0.95fr auto;
  gap: 2.5rem;
  padding: 0 2rem;
  align-items: center;
  @include box-shadow;
}

.logo {
  cursor: default;
  font-family: Ink Free;
  font-size: 1.4rem;
  font-weight: bold;
  color: $logo-color;
  width: 100%;
}

.assets {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  gap: 1.5rem;
  width: 100%;
  align-items: center;
}

.search {
  border-radius: 1rem;
  height: 2.1rem;
  background-image: url("../../public/images/icons/magnifier.svg");
  background-size: 1.2rem;
  background-repeat: no-repeat;
  background-position: center left 0.6rem;
  padding-left: 2.4rem;
  z-index: 1000;
}

.menu {
  padding-bottom: 0.4rem;
  vertical-align: middle;
  opacity: 0.6;
  font-size: 2.2rem;
}

.nav {
  z-index: 2000;
  background-color: $logo-color;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 2rem 3rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.nav.active {
  transform: translateX(0);
}

.navClose {
  color: white;
}

.nav ul {
  padding: 0;
  list-style-type: none;
  margin: 1rem 0 0 0;
  li {
    padding: 1rem 0;
    svg {
      vertical-align: middle;
      width: 2rem;
      margin-right: 0.8rem;
    }
  }
}

.nav a {
  color: white;
  text-decoration: none;
}

@media (max-width: $small-breakpoint) {
  .header {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
  }

  .logo {
    display: none;
  }
}

@media (min-width: $small-breakpoint) {
  .search {
    justify-self: right;
    width: 100%;
  }
}
