@import "./variables.scss";

%input {
  font-family: $default-font-family;
  font-weight: 400;
  color: $default-font-color;
  border-radius: 5px;
}

@mixin box-shadow {
  box-shadow: 0px 2px 5px 1px $box-shadow-color;
}
