/* Globals */
$default-font-family: "Open sans", sans serif;
$default-background-color: #f8f8f8;
$default-font-color: rgba(0, 0, 0, 0.7);
$input-border: 2px solid lightgrey;
$input-background: white;
$box-shadow-color: #0000001a;
/* END */

/* Header */
$header-background-color: white;
/* END */

/* Footer */
$footer-border: 1px solid #cccccc;
$footer-background-color: rbga(255, 255, 255, 0.4);
/* END */
