@import "./base.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
@import url(//db.onlinewebfonts.com/c/0801c08e5412f54e4b4e9ad146d83a12?family=Ink+Free);

html,
body {
  background-color: $default-background-color;
  color: $default-font-color;
  padding: 0;
  margin: 0;
  font-family: $default-font-family;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

input {
  @extend %input;
  border: $input-border;
  outline: none;
  font-size: 1rem;
  &:focus {
    border: none !important;
    @include box-shadow;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: $footer-background-color;
  border-top: $footer-border;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: $default-font-color;
  }
}

/* Carousel styles */
.slick-slider {
  div {
    &:focus {
      outline: 0;
    }
  }
}

.slick-list {
  height: 30rem;
}

.slick-arrow {
  width: 2rem !important;
  height: auto !important;
}

.slick-prev {
  top: 39.5% !important;
  left: 3% !important;
  z-index: 1;
  transform: scaleX(-1) !important;
}
.slick-next {
  top: 44% !important;
  right: 3% !important;
  z-index: 1;
}

@media (max-width: $small-breakpoint) {
  footer {
    display: none;
  }
}

@media (orientation: landscape) {
  body,
  html {
    font-size: 1.1vw;
  }
}

@media (orientation: portrait) {
  body,
  html {
    font-size: 2.5vh;
  }
}
