@import "./base.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
@import url(//db.onlinewebfonts.com/c/0801c08e5412f54e4b4e9ad146d83a12?family=Ink+Free);

html,
body {
  background-color: $default-background-color;
  color: $default-font-color;
  padding: 0;
  margin: 0;
  font-family: $default-font-family;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

input {
  @extend %input;

  // Not included in the mixin because of auto-suggest input
  border: $input-border;

  &:focus {
    border: none !important;
    @include box-shadow;
  }
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-family: $default-font-family;
}

/* Carousel styles */
.slick-slider {
  div {
    &:focus {
      outline: 0;
    }
  }
}

.slick-list {
  height: 70vh;

  img {
    height: 55vh;
    width: 100%;
    object-fit: cover;
  }
}

.slick-arrow {
  width: 2rem !important;
  height: auto !important;
}

.slick-prev {
  top: 36.5% !important;
  left: 3% !important;
  z-index: 1;
  transform: scaleX(-1) !important;
}
.slick-next {
  top: 41% !important;
  right: 3% !important;
  z-index: 1;
}
/* END */

@media (min-width: $small-breakpoint) and (orientation: portrait) {
  .slick-list {
    height: 85vh;

    img {
      height: 70vh;
    }
  }
}

@media (min-width: $small-breakpoint) and (orientation: landscape) {
  .slick-slider {
    margin: 0 25vw;
  }
}

@media (max-width: $small-breakpoint) and (orientation: landscape) {
  .slick-slider {
    margin: 1rem 15vw;
  }
  .slick-list {
    height: 75vh;

    img {
      height: 60vh;
    }
  }
}

@media (max-width: $large-breakpoint) {
  body,
  html {
    font-size: 16px;
  }
}

@media (min-width: $large-breakpoint) and (max-width: $extra-large-breakpoint) {
  body,
  html {
    font-size: 18px;
  }
}

@media (min-width: $extra-large-breakpoint) {
  body,
  html {
    font-size: 20px;
  }
}
